
> def _init_db():
      pass
      conn.execute("CREATE INDEX IF NOT EXISTS idx_rate_limit_events_key ON rateLimitEvents(guildId, eventKey, createdA
t)")
      conn.execute("CREATE INDEX IF NOT EXISTS idx_vouch_target ON Vouch(guildId, targetId, status)")
      conn.execute("CREATE INDEX IF NOT EXISTS idx_vouch_approval ON Vouch(guildId, approvalStatus, vouchType)")
      conn.execute("CREATE INDEX IF NOT EXISTS idx_vouch_report_vouch ON VouchReport(guildId, vouchId, status)")
      conn.execute("CREATE INDEX IF NOT EXISTS idx_scam_report_status ON scammerReports(guildId, status, reportedUserId
)")
      conn.execute("CREATE INDEX IF NOT EXISTS idx_trust_moderation_status ON trustModerationStatus(guildId, status)")
      # Economy V1 foundation creates only empty, additive tables. It does not
      # migrate DiscordStat/json_store or enable Phase 1/2 wallet mutations.
      ensure_phase1_schema(conn)
      conn.commit()
      conn.close()
  
  _init_db()
  
  import asyncpg
  import asyncio
  from math import floor, sqrt
  import json
  import logging
  from datetime import datetime
  
  _json_cache = {}
  
  async def load_json(filepath):
      basename = os.path.basename(filepath)
      if basename in _json_cache:
          return _json_cache[basename]
      try:
          async with aiosqlite.connect(DB_PATH) as db:
              async with db.execute("SELECT content FROM json_store WHERE filename=?", (basename,)) as cursor:
                  row = await cursor.fetchone()
                  if row:
                      data = json.loads(row[0])
                      _json_cache[basename] = data
                      return data
      except Exception as e:
          logging.error("DB Load Error exception=%s", type(e).__name__)
      _json_cache[basename] = {}
      return {}
  
  async def save_json(filepath, data):
      basename = os.path.basename(filepath)
      _json_cache[basename] = data
      try:
          async with aiosqlite.connect(DB_PATH) as db:
              await db.execute("INSERT OR REPLACE INTO json_store (filename, content) VALUES (?, ?)", (basename, json.d
umps(data, ensure_ascii=False)))
              await db.commit()
      except Exception as e:
          logging.error("DB Save Error exception=%s", type(e).__name__)
  
  async def get_discord_stat(uid):
      try:
          async with aiosqlite.connect(DB_PATH) as db:
              async with db.execute("SELECT coins, xp, level, lastDaily FROM DiscordStat WHERE id=?", (str(uid),)) as c
ursor:
                  row = await cursor.fetchone()
                  if row:
                      coins, xp, level, lastDaily = row[0], row[1], row[2], row[3]
                      
                      # O(1) Level Up Math
                      if xp >= level * 100:
                          a = 50
                          b = 100 * level - 50
                          c = -xp
                          discriminant = b**2 - 4*a*c
                          if discriminant > 0:


