
>     conn.execute("CREATE TABLE IF NOT EXISTS json_store (filename TEXT PRIMARY KEY, content TEXT)")
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS DiscordStat (
              id TEXT PRIMARY KEY,
              displayName TEXT,
              coins INTEGER DEFAULT 0,
              xp INTEGER DEFAULT 0,
              level INTEGER DEFAULT 1,
              lastDaily TEXT,
              updatedAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS ChatMemory (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              timestamp TEXT,
              content TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS Reminder (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              user_id TEXT,
              channel_id TEXT,
              message TEXT,
              fire_at TEXT,
              created_at TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS Giveaway (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              channel_id TEXT,
              message_id TEXT,
              prize TEXT,
              host_id TEXT,
              end_at TEXT,
              ended INTEGER DEFAULT 0
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS AuditLog (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              ts TEXT,
              action TEXT,
              target_id TEXT,
              detail TEXT,
              source TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS dealAuditLogConfig (
              guildId TEXT PRIMARY KEY,
              channelId TEXT,
              enabled INTEGER DEFAULT 0,
              createdAt TEXT,
              updatedAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS DealConfig (
              guildId TEXT PRIMARY KEY,
              middlemanRoleId TEXT,
              ownerRoleId TEXT,
              dealLogChannelId TEXT,
              vouchChannelId TEXT,
              dealStaffRoleIds TEXT DEFAULT '[]',
              allowedTicketCategoryIds TEXT DEFAULT '[]',
              dealIdPrefix TEXT DEFAULT 'MM',
              pingCooldownSeconds INTEGER DEFAULT 3600,
              reminderEnabled INTEGER DEFAULT 0,
              reminderIntervals TEXT DEFAULT '{}',
              requirePaymentProof INTEGER DEFAULT 0,
              requireTransferProof INTEGER DEFAULT 0,
              allowUserCancelRequest INTEGER DEFAULT 1,
              autoTimeoutEnabled INTEGER DEFAULT 0,
>         CREATE TABLE IF NOT EXISTS Deal (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              dealId TEXT,
              guildId TEXT NOT NULL,
              ticketChannelId TEXT NOT NULL,
              createdById TEXT NOT NULL,
              buyerId TEXT NOT NULL,
              sellerId TEXT NOT NULL,
              middlemanId TEXT NOT NULL,
              paymentPenjual TEXT,
              paymentPembeli TEXT,
              nominalItem INTEGER,
              feeType TEXT,
              mmFee INTEGER,
              buyerPays INTEGER,
              sellerReceives INTEGER,
>         CREATE TABLE IF NOT EXISTS DealLog (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              dealId TEXT,
              action TEXT,
              actorId TEXT,
              oldValue TEXT,
              newValue TEXT,
              reason TEXT,
              createdAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS dealPaymentProfiles (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT NOT NULL,
              userId TEXT NOT NULL,
              title TEXT,
              paymentText TEXT,
              qrisNote TEXT,
              note TEXT,
              footerText TEXT,
              imageUrl TEXT,
              imageFilename TEXT,
              enabled INTEGER DEFAULT 1,
              createdAt TEXT,
              updatedAt TEXT,
              UNIQUE(guildId, userId)
          )
>         CREATE TABLE IF NOT EXISTS Vouch (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              dealId TEXT,
              reviewerId TEXT,
              targetId TEXT,
              reviewerRole TEXT,
              targetRole TEXT,
              rating INTEGER,
              review TEXT,
              proofUrl TEXT,
              verifiedDeal INTEGER DEFAULT 1,
              status TEXT DEFAULT 'active',
              removedBy TEXT,
              removeReason TEXT,
              createdAt TEXT,
>         CREATE TABLE IF NOT EXISTS DealNote (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              dealId TEXT,
              actorId TEXT,
              note TEXT,
              createdAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS DealReminderLog (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              dealId TEXT,
              reminderType TEXT,
              sentAt TEXT,
              UNIQUE(guildId, dealId, reminderType)
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS dealArchives (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              dealId TEXT,
              channelId TEXT,
              buyerId TEXT,
              sellerId TEXT,
              middlemanId TEXT,
              finalStatus TEXT,
              paymentProofSubmitted INTEGER DEFAULT 0,
              transferProofSubmitted INTEGER DEFAULT 0,
              vouchEligible INTEGER DEFAULT 0,
              disputeOpened INTEGER DEFAULT 0,
              disputeResolved INTEGER DEFAULT 0,
              cancelled INTEGER DEFAULT 0,
              completed INTEGER DEFAULT 0,
>         CREATE TABLE IF NOT EXISTS dealPanels (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              panelType TEXT,
              channelId TEXT,
              messageId TEXT,
              enabled INTEGER DEFAULT 0,
              lastPayloadHash TEXT,
              createdAt TEXT,
              updatedAt TEXT,
              UNIQUE(guildId, panelType)
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS dealPanelEvents (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              panelType TEXT,
              eventType TEXT,
              eventKey TEXT,
              messageId TEXT,
              channelId TEXT,
              createdAt TEXT,
              UNIQUE(guildId, panelType, eventKey)
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS middlemanStatus (
              guildId TEXT,
              userId TEXT,
              status TEXT DEFAULT 'offline',
              note TEXT,
              updatedAt TEXT,
              updatedById TEXT,
              createdAt TEXT,
              PRIMARY KEY (guildId, userId)
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS rateLimitEvents (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              userId TEXT,
              actionType TEXT,
              targetId TEXT,
              eventKey TEXT,
              createdAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS VouchReport (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              vouchId INTEGER,
              reporterId TEXT,
              reason TEXT,
              proofUrl TEXT,
              status TEXT DEFAULT 'open',
              handledBy TEXT,
              handledAt TEXT,
              createdAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS manualVouchReviewConfig (
              guildId TEXT PRIMARY KEY,
              reviewChannelId TEXT,
              enabled INTEGER DEFAULT 0,
              createdAt TEXT,
              updatedAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS manualVouchPanelConfig (
              guildId TEXT PRIMARY KEY,
              channelId TEXT,
              messageId TEXT,
              enabled INTEGER DEFAULT 0,
              createdAt TEXT,
              updatedAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS scammerReports (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              guildId TEXT,
              reporterId TEXT,
              reportedUserId TEXT,
              reportedRaw TEXT,
              reportedResolved INTEGER DEFAULT 0,
              reason TEXT,
              chronology TEXT,
              nominalItem TEXT,
              notes TEXT,
              proofCount INTEGER DEFAULT 0,
              proofData TEXT,
              proofSubmittedAt TEXT,
              status TEXT DEFAULT 'pending',
              reviewMessageId TEXT,
>         CREATE TABLE IF NOT EXISTS scamReportReviewConfig (
              guildId TEXT PRIMARY KEY,
              reviewChannelId TEXT,
              enabled INTEGER DEFAULT 0,
              createdAt TEXT,
              updatedAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS scamReportPanelConfig (
              guildId TEXT PRIMARY KEY,
              channelId TEXT,
              messageId TEXT,
              enabled INTEGER DEFAULT 0,
              createdAt TEXT,
              updatedAt TEXT
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS trustModerationStatus (
              guildId TEXT,
              userId TEXT,
              status TEXT DEFAULT 'clear',
              reason TEXT,
              sourceType TEXT,
              sourceId TEXT,
              updatedById TEXT,
              updatedAt TEXT,
              createdAt TEXT,
              PRIMARY KEY (guildId, userId)
          )
      ''')
      conn.execute('''
>         CREATE TABLE IF NOT EXISTS UserReputation (
              guildId TEXT,
              userId TEXT,
              totalVouches INTEGER DEFAULT 0,
              verifiedVouches INTEGER DEFAULT 0,
              verifiedDealVouches INTEGER DEFAULT 0,
              manualApprovedVouches INTEGER DEFAULT 0,
              averageRating REAL DEFAULT 0,
              trustScore REAL DEFAULT 0,
              buyerVouches INTEGER DEFAULT 0,
              sellerVouches INTEGER DEFAULT 0,
              middlemanVouches INTEGER DEFAULT 0,
              removedVouches INTEGER DEFAULT 0,
              reports INTEGER DEFAULT 0,
              trustLevel TEXT DEFAULT 'New User',
              updatedAt TEXT,



> CREATE TABLE IF NOT EXISTS EconomySchemaMigration (
      version INTEGER PRIMARY KEY, name TEXT NOT NULL, checksum TEXT NOT NULL,
      status TEXT NOT NULL CHECK(status IN ('PENDING','RUNNING','COMPLETED','FAILED')),
      startedAt TEXT, completedAt TEXT, backupPath TEXT, manifestSha256 TEXT,
      detailsJson TEXT NOT NULL DEFAULT '{}'
  );
> CREATE TABLE IF NOT EXISTS EconomyMigrationRun (
      runId TEXT PRIMARY KEY, migrationVersion INTEGER NOT NULL,
      mode TEXT NOT NULL CHECK(mode IN ('DRY_RUN','APPLY','RECOVERY','ROLLBACK')),
      status TEXT NOT NULL, guildId TEXT NOT NULL, sourceDbSha256 TEXT NOT NULL,
      backupPath TEXT, manifestPath TEXT, startedById TEXT, startedAt TEXT NOT NULL,
      completedAt TEXT, totalsJson TEXT NOT NULL DEFAULT '{}', errorCode TEXT
  );
> CREATE TABLE IF NOT EXISTS EconomyMigrationItem (
      runId TEXT NOT NULL, entityType TEXT NOT NULL, sourceKey TEXT NOT NULL,
      sourceHash TEXT NOT NULL, targetKey TEXT, status TEXT NOT NULL, errorCode TEXT,
      attemptCount INTEGER NOT NULL DEFAULT 0, updatedAt TEXT NOT NULL,
      PRIMARY KEY(runId, entityType, sourceKey),
      FOREIGN KEY(runId) REFERENCES EconomyMigrationRun(runId)
  );
> CREATE TABLE IF NOT EXISTS EconomyWallet (
      guildId TEXT NOT NULL, userId TEXT NOT NULL,
      etmBalance INTEGER NOT NULL DEFAULT 0 CHECK(etmBalance >= 0),
      ecyBalance INTEGER NOT NULL DEFAULT 0 CHECK(ecyBalance >= 0),
      version INTEGER NOT NULL DEFAULT 0, createdAt TEXT NOT NULL, updatedAt TEXT NOT NULL,
      PRIMARY KEY(guildId, userId)
  );
> CREATE TABLE IF NOT EXISTS EconomySystemAccount (
      guildId TEXT NOT NULL, accountCode TEXT NOT NULL,
      currency TEXT NOT NULL CHECK(currency IN ('ETM','ECY')),
      accountClass TEXT NOT NULL CHECK(accountClass IN ('TREASURY','RESERVE','BURN','ISSUANCE')),
      balance INTEGER NOT NULL DEFAULT 0, spendable INTEGER NOT NULL DEFAULT 0 CHECK(spendable IN (0,1)),
      allowNegative INTEGER NOT NULL DEFAULT 0 CHECK(allowNegative IN (0,1)),
      version INTEGER NOT NULL DEFAULT 0, createdAt TEXT NOT NULL, updatedAt TEXT NOT NULL,
      PRIMARY KEY(guildId, accountCode)
  );
> CREATE TABLE IF NOT EXISTS EconomyTransaction (
      transactionId TEXT PRIMARY KEY, guildId TEXT NOT NULL, idempotencyKey TEXT NOT NULL,
      operation TEXT NOT NULL, source TEXT NOT NULL, referenceId TEXT, actorId TEXT,
      reasonCode TEXT, reasonText TEXT, metadataJson TEXT NOT NULL DEFAULT '{}',
      status TEXT NOT NULL CHECK(status IN ('PENDING','COMMITTED','REVERSED')),
      createdAt TEXT NOT NULL, committedAt TEXT,
      UNIQUE(guildId, idempotencyKey)
  );
> CREATE TABLE IF NOT EXISTS EconomyLedger (
      id INTEGER PRIMARY KEY AUTOINCREMENT, transactionId TEXT NOT NULL,
      sequence INTEGER NOT NULL, guildId TEXT NOT NULL,
      accountKind TEXT NOT NULL CHECK(accountKind IN ('USER','SYSTEM')),
      accountId TEXT NOT NULL, userId TEXT,
      currency TEXT NOT NULL CHECK(currency IN ('ETM','ECY')),
      transactionType TEXT NOT NULL, amount INTEGER NOT NULL,
      balanceBefore INTEGER NOT NULL, balanceAfter INTEGER NOT NULL,
      referenceId TEXT, source TEXT NOT NULL, createdAt TEXT NOT NULL,
      UNIQUE(transactionId, sequence),
      FOREIGN KEY(transactionId) REFERENCES EconomyTransaction(transactionId)
  );
> CREATE TABLE IF NOT EXISTS EconomyMintWhitelist (
      guildId TEXT NOT NULL, userId TEXT NOT NULL, enabled INTEGER NOT NULL DEFAULT 1,
      addedById TEXT NOT NULL, reasonCode TEXT NOT NULL, createdAt TEXT NOT NULL,
      updatedAt TEXT NOT NULL, PRIMARY KEY(guildId, userId)
  );
> CREATE TABLE IF NOT EXISTS EconomyFeatureState (
      guildId TEXT NOT NULL, feature TEXT NOT NULL, paused INTEGER NOT NULL DEFAULT 0,
      reasonCode TEXT, changedById TEXT, changedAt TEXT NOT NULL,
      version INTEGER NOT NULL DEFAULT 0, PRIMARY KEY(guildId, feature)
  );
> CREATE TABLE IF NOT EXISTS EconomySeedMarker (
      guildId TEXT NOT NULL, seedKey TEXT NOT NULL, accountCode TEXT NOT NULL,
      currency TEXT NOT NULL, amount INTEGER NOT NULL, transactionId TEXT NOT NULL,
      appliedAt TEXT NOT NULL, PRIMARY KEY(guildId, seedKey), UNIQUE(transactionId)
  );
> CREATE TABLE IF NOT EXISTS RpgProfile (
      guildId TEXT NOT NULL, userId TEXT NOT NULL,
      level INTEGER NOT NULL DEFAULT 1 CHECK(level BETWEEN 1 AND 100),
      xp INTEGER NOT NULL DEFAULT 0 CHECK(xp >= 0),
      maxHp INTEGER NOT NULL DEFAULT 1000 CHECK(maxHp > 0),
      currentHp INTEGER NOT NULL DEFAULT 1000 CHECK(currentHp >= 0 AND currentHp <= maxHp),
      attack INTEGER NOT NULL DEFAULT 50 CHECK(attack >= 0),
      defense INTEGER NOT NULL DEFAULT 25 CHECK(defense >= 0),
      critBps INTEGER NOT NULL DEFAULT 500 CHECK(critBps BETWEEN 0 AND 5000),
      energy INTEGER NOT NULL DEFAULT 100 CHECK(energy BETWEEN 0 AND 100),
      energyUpdatedAt TEXT NOT NULL,
      activeWeaponInstanceId TEXT, activeArmorInstanceId TEXT,
      activeAccessoryInstanceId TEXT, activePetInstanceId TEXT,
      migrationSourceHash TEXT, version INTEGER NOT NULL DEFAULT 0,
      createdAt TEXT NOT NULL, updatedAt TEXT NOT NULL,
      PRIMARY KEY(guildId, userId)
> CREATE TABLE IF NOT EXISTS EconomyClaimState (
      guildId TEXT NOT NULL, userId TEXT NOT NULL,
      claimType TEXT NOT NULL CHECK(claimType IN ('DAILY','WEEKLY')),
      lastClaimAt TEXT, nextEligibleAt TEXT, lastTransactionId TEXT,
      migrationSourceHash TEXT, version INTEGER NOT NULL DEFAULT 0,
      createdAt TEXT NOT NULL, updatedAt TEXT NOT NULL,
      PRIMARY KEY(guildId, userId, claimType),
      FOREIGN KEY(lastTransactionId) REFERENCES EconomyTransaction(transactionId)
  );
> CREATE TABLE IF NOT EXISTS EconomyWorkState (
      guildId TEXT NOT NULL, userId TEXT NOT NULL,
      periodDate TEXT, successCount INTEGER NOT NULL DEFAULT 0 CHECK(successCount >= 0),
      lastSuccessAt TEXT, pendingRollId TEXT, migrationSourceHash TEXT,
      version INTEGER NOT NULL DEFAULT 0, createdAt TEXT NOT NULL, updatedAt TEXT NOT NULL,
      PRIMARY KEY(guildId, userId),
      UNIQUE(pendingRollId)
  );
> CREATE TABLE IF NOT EXISTS EconomyRewardRoll (
      rollId TEXT PRIMARY KEY, guildId TEXT NOT NULL, userId TEXT NOT NULL,
      rewardType TEXT NOT NULL CHECK(rewardType IN ('WORK')),
      currency TEXT NOT NULL CHECK(currency IN ('ETM','ECY')),
      amount INTEGER NOT NULL CHECK(amount > 0),
      status TEXT NOT NULL CHECK(status IN ('RESERVED','COMMITTED','VOID')),
      transactionId TEXT, createdAt TEXT NOT NULL, settledAt TEXT, voidedAt TEXT,
      UNIQUE(transactionId),
      FOREIGN KEY(transactionId) REFERENCES EconomyTransaction(transactionId)
  );
> CREATE TABLE IF NOT EXISTS EconomyDailyUsage (
      guildId TEXT NOT NULL, userId TEXT NOT NULL, periodDate TEXT NOT NULL,
      usageType TEXT NOT NULL CHECK(usageType IN ('TRANSFER_ETM','EXCHANGE_ETM')),
      submittedAmount INTEGER NOT NULL DEFAULT 0 CHECK(submittedAmount >= 0),
      version INTEGER NOT NULL DEFAULT 0, createdAt TEXT NOT NULL, updatedAt TEXT NOT NULL,
      PRIMARY KEY(guildId, userId, periodDate, usageType)
  );
> CREATE TABLE IF NOT EXISTS EconomyActivityEvent (
      eventId TEXT PRIMARY KEY, guildId TEXT NOT NULL, userId TEXT NOT NULL,
      eventType TEXT NOT NULL, eventKey TEXT NOT NULL,
      points INTEGER NOT NULL CHECK(points >= 0),
      metricValue INTEGER NOT NULL DEFAULT 0 CHECK(metricValue >= 0),
      transactionId TEXT NULL, referenceId TEXT NULL,
      occurredAt TEXT NOT NULL, createdAt TEXT NOT NULL,
      UNIQUE(guildId, eventKey),
      FOREIGN KEY(transactionId) REFERENCES EconomyTransaction(transactionId)
  );
> CREATE TABLE IF NOT EXISTS EconomyCutoverState (
      guildId TEXT PRIMARY KEY,
      state TEXT NOT NULL CHECK(state IN ('LEGACY','STAGING_READY','FORWARD_ONLY')),
      firstProductionTransactionId TEXT, changedById TEXT, changedAt TEXT NOT NULL,
      detailsJson TEXT NOT NULL DEFAULT '{}', version INTEGER NOT NULL DEFAULT 0,
      FOREIGN KEY(firstProductionTransactionId) REFERENCES EconomyTransaction(transactionId)
  );
  CREATE INDEX IF NOT EXISTS idx_economy_migration_status ON EconomyMigrationRun(migrationVersion, status);
  CREATE INDEX IF NOT EXISTS idx_economy_migration_started ON EconomyMigrationRun(startedAt);
  CREATE INDEX IF NOT EXISTS idx_economy_migration_item_status ON EconomyMigrationItem(entityType, status);
  CREATE INDEX IF NOT EXISTS idx_economy_migration_item_hash ON EconomyMigrationItem(sourceHash);
  CREATE INDEX IF NOT EXISTS idx_economy_wallet_etm ON EconomyWallet(guildId, etmBalance DESC);
  CREATE INDEX IF NOT EXISTS idx_economy_wallet_ecy ON EconomyWallet(guildId, ecyBalance DESC);
  CREATE INDEX IF NOT EXISTS idx_economy_wallet_user ON EconomyWallet(userId);
  CREATE INDEX IF NOT EXISTS idx_economy_transaction_created ON EconomyTransaction(guildId, createdAt);
  CREATE INDEX IF NOT EXISTS idx_economy_transaction_operation ON EconomyTransaction(guildId, operation, createdAt);


